AITER_BRANCH="v0.1.17"
BUILD_VERSION="rocm101_torch212_jul31"
IMAGE_REPO="rjrock2/vllm"
MAX_JOBS="64"
PIP_EXTRA_INDEX_URL="https://rocm.nightlies.amd.com/whl-multi-arch/"
PREBUILD_KERNELS="1"
PYTHON_VERSION="3.14"
PYTORCH_ROCM_ARCH="gfx90a;gfx942;gfx950"
ROCM_SDK_VERSION="10.1.0a20260731"
TORCHAUDIO_VERSION="2.11.0"
TORCHVISION_VERSION="0.27.0"
TORCH_VERSION="2.12.0"
VLLM_BRANCH="the-rock-nightly-20260729"
VLLM_REPO="https://github.com/rjrock/vllm.git"
